html,body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container{
    --grid-size: 16;   
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px; 
}
.square{
    aspect-ratio: 1;
    width: calc((100%/var(--grid-size)));  
    background-color: rgb(255, 255, 255);  
    border: 1px solid black;
    box-sizing: border-box;
}